<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Информатик БУ | Предметы</title>
    <link href="../css/table.css" rel="stylesheet">
    <link href="../css/menu1.css" rel="stylesheet">
</head>
<body>
<link href="https://fonts.googleapis.com/css?family=Arvo&display=swap" rel="stylesheet">

<div th:replace="~{navbar :: navi(Subject)}"></div>

<table class="table">
    <thead>
    <tr>
        <th scope="col">#</th>
        <th scope="col">Название</th>
    </tr>
    </thead>
    <tbody>
    <tr th:classappend="${subject.status.name() == 'ACTIVE'} ? 'table-success' : 'table-secondary'"
        th:each="subject: ${subjects}" th:attr="subj_index=${subject.id}">
        <th scope="row">1</th>
        <td th:text="${subject.title}"></td>
        <td>
            <!--                    @{/cart/add/(id=${subject.id})}-->
        </td>
        <td>
            <a type="button" class="btn btn-warning" th:href="@{/subject(id=${subject.id})}">Редактировать</a>
        </td>
        <td>
            <!--                    th:href="@{/subject/delete/' + ${subject.id}}"-->
            <a type="button" class="btn btn-danger" th:href="@{/subject/delete(id=${subject.id})}">Удалить</a>
        </td>
    </tr>
    </tbody>
</table>

</body>
</html>