<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Информатик БУ | Курсы</title>
    <link href="../css/table.css" rel="stylesheet">
    <link href="../css/menu1.css" rel="stylesheet">
</head>
<body>
<link href="https://fonts.googleapis.com/css?family=Arvo&display=swap" rel="stylesheet">

<div th:replace="~{navbar :: navi(Curses)}"></div>

<table class="table">
    <thead>
    <tr>
        <th scope="col">#</th>
        <th scope="col">Название</th>
        <th scope="col">Целевая аудитория</th>
        <th scope="col">Стоимость</th>
    </tr>
    </thead>
    <tbody>
    <tr th:classappend="${curse.status.name() == 'ACTIVE'} ? 'table-success' : 'table-secondary'"
        th:each="curse: ${curses}" th:attr="curse_index=${curse.id}">
        <th scope="row">1</th>
        <td th:text="${curse.title}"></td>
        <td th:text="${curse.targetgrope}"></td>
        <td th:text="${curse.price}"></td>

        <td>
            <!--                    @{/cart/add/(id=${curse.id})}-->
        </td>
        <td>
            <a type="button" class="btn btn-warning" th:href="@{/curse(id=${curse.id})}">Редактировать</a>
        </td>
        <td>
            <!--                    th:href="@{/curse/delete/' + ${curse.id}}"-->
            <a type="button" class="btn btn-danger" th:href="@{/curse/delete(id=${curse.id})}">Удалить</a>
        </td>
    </tr>
    </tbody>
</table>
</body>
</html>