<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Информатик БУ | Курсы</title>
    <link href="table.css" rel="stylesheet">
    <link href="menu1.css" rel="stylesheet">
</head>
<body>
<link href="https://fonts.googleapis.com/css?family=Arvo&display=swap" rel="stylesheet">

<nav role="navigation" class="primary-navigation">
    <ul>
        <li><a href="mainPage.html">Главная</a></li>
        <li><a href="#">Таблицы &dtrif;</a>
            <ul class="dropdown">
                <li><a href="curseTable.html">Предметы</a></li>
                <li><a href="curseTable.html">Курсы</a></li>
                <li><a href="curseTable.html">Ученики</a></li>
                <li><a href="curseTable.html">Сотрудники</a></li>
            </ul>
        </li>
        <li><a href="#">Запросы</a></li>
        <li><a href="#">Изменение таблиц</a></li>
        <li><a href="#">Отчеты</a></li>
        <li><a href="#">Выход</a></li>
    </ul>
</nav>

<table class="table">
    <thead>
    <tr>
        <th scope="col">#</th>
        <th scope="col">Название</th>
        <th scope="col">Целевая аудитория</th>
        <th scope="col">Стоимость</th>
    </tr>
    </thead>
    <tbody>
    <tr th:classappend="${curse.status.name() == 'ACTIVE'} ? 'table-success' : 'table-secondary'"
        th:each="curse: ${curses}" th:attr="prod_index=${curse.id}">
        <th scope="row">1</th>
        <td th:text="${curse.title}"></td>
        <td th:text="${curse.targetgrope}"></td>
        <td th:text="${curse.price}"></td>

        <td>
            <!--                    @{/cart/add/(id=${curse.id})}-->
        </td>
        <td>
            <a type="button" class="btn btn-warning" th:href="@{/curse(id=${curse.id})}">Редактировать</a>
        </td>
        <td>
            <!--                    th:href="@{/curse/delete/' + ${curse.id}}"-->
            <a type="button" class="btn btn-danger" th:href="@{/curse/delete(id=${curse.id})}">Удалить</a>
        </td>
    </tr>
    </tbody>
</table>
</body>
</html>