<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Информатик БУ | Главная</title>
    <link href="css/menu1.css" rel="stylesheet">
</head>
<body>
<link href="https://fonts.googleapis.com/css?family=Arvo&display=swap" rel="stylesheet">

<div th:replace="~{navbar :: navi(ProductForm)}"></div>

<section class="mainText">
    <p>Добро пожаловать на главную страницу Онлайн школы "Информатик БУ"!</p>
    <p>После входа вы можете воспользоваться нашей системой с помощью меню сверху.</p>
    <p>Если у Вас возникают вопросы - напишите в сообщения<a href="https://vk.com/inf_bu"> сообщества</a> или <a href="https://vk.com/firstdarksoul">Максиму Сергеевичу Михееву</a> </p>
</section>

</body>
</html>