<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<!--<nav role="navigation" class="primary-navigation">-->
<!--    <ul>-->
<!--        <li><a href="../mainPage.html">Главная</a></li>-->
<!--        <li><a href="#">Таблицы &dtrif;</a>-->
<!--            <ul class="dropdown">-->
<!--            </ul>-->
<!--        </li>-->
<!--        <li><a href="#">Запросы</a></li>-->
<!--        <li><a href="#">Отчеты</a></li>-->
<!--        <li><a href="#">Выход</a></li>-->
<!--    </ul>-->
<!--</nav>-->

    <nav class="navbar navbar-expand-lg navbar-dark bg-dark" th:fragment="navi(activeTab)">

    <div class="container-fluid">
        <a class="navbar-brand" th:href="@{/}">Главная</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" th:classappend="${activeTab == 'Students' ? 'active' : ''}" aria-current="page" th:href="@{/student/all}">Ученики</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:classappend="${activeTab == 'Curses' ? 'active' : ''}" th:href="@{/curses/all}">Курсы</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:classappend="${activeTab == 'Staff' ? 'active' : ''}" th:href="@{/staff/all}">Сотрудники</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:classappend="${activeTab == 'Subjects' ? 'active' : ''}" th:href="@{/subject/all}">Предметы</a>
                </li>
            </ul>
        </div>
    </div>
</nav>

</body>
</html>