<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div class="container" th:fragment="navi(activeTab)">
    <form th:action="@{/student/all}" th:method="get" th:if="${activeTab == 'Students'}">
        <div>
<!--            <input type="hidden"/>-->
            <label>
                Сортировка по:
                <select name="selection">
                    <option th:value="dateAfter">После даты</option>
                    <option th:value="dateBefore">До даты</option>
                    <option th:value="curse">По курсу</option>
                    <option th:value="classNumber">По классу</option>
                </select>
                <input type="text" name="parametr" id="student-parametr-id"/>
            </label>
            <button type="submit" class="btn btn-primary">Submit</button>
            <a type="button" class="btn btn-primary" th:href="@{/student}">Добавить</a>
        </div>
    </form>
    <form th:action="@{/staff/all}" th:method="get" th:if="${activeTab == 'Staffs'}">
        <div>
            <!--            <input type="hidden"/>-->
            <label>
                Сортировка по:
                <select name="selection">
                    <option th:value="post">По должности</option>
                    <option th:value="status">По стаусу</option>
                    <option th:value="curse">По курсу</option>
                </select>
                <input type="text" name="parametr" id="staff-parametr-id"/>
            </label>
            <button type="submit" class="btn btn-primary">Submit</button>
            <a type="button" class="btn btn-primary" th:href="@{/staff}">Добавить</a>
        </div>
    </form>
    <form th:action="@{/curse/all}" th:method="get" th:if="${activeTab == 'Curses'}">
        <div>
            <!--            <input type="hidden"/>-->
            <label>
                Сортировка по:
                <select name="selection">
                    <option th:value="priceLower">Цена меньше</option>
                    <option th:value="priceGreater">Цена больше</option>
                    <option th:value="targetGroup">Возрасту</option>
                    <option th:value="subject">Предмету</option>
                </select>
                <input type="text" name="parametr" id="curse-parametr-id"/>
            </label>
            <button type="submit" class="btn btn-primary">Submit</button>
            <a type="button" class="btn btn-primary" th:href="@{/curse}">Добавить</a>
        </div>
    </form>
</div>
</body>
</html>